<h1>About</h1>
<p>I`m using Magic The Gathering Data Source, and the Faker Data as the second Data Source.</p>
<br/>
<p>The Magic data is composed of Cards, which have Colors which is another table, and types which is yet another table.</p>
<p>They are connected through many to many relationships(and composite tables).</p>
<br/>
<p>The Faker data has Products, which has a Material foreign key to a Materials Table.</p>
